<div class="container">
	<a routerLink="/">Back Home</a>
	<!-- Default form login -->
	<form class="text-center border border-light p-5" [formGroup]="phonebookForm">
		<p class="h4 mb-4">New Phonebook Entry</p>

		<input type="text" class="form-control mb-4" formControlName="name" placeholder="Name">
		<input type="number" class="form-control mb-4" formControlName="phone" placeholder="Phone">
		<input type="email" class="form-control mb-4" formControlName="email" placeholder="Email">
	
		<!-- Sign in button -->
		<button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="submitPhoneBootEntry()">Submit</button>
	</form>
  <!-- Default form login -->
</div>
