<div class="container">
	<a routerLink="/">Back Home</a>
	<!-- Default form login -->
	<form class="text-center border border-light p-5" [formGroup]="phonebookForm">
		<p class="h4 mb-4">Phonebook Entry</p>

		<div class="form-group mb-3">
			<input type="text" class="form-control" formControlName="name" placeholder="Name">
			<small *ngIf="__phonebook.form_errors.name" class="text-danger">{{__phonebook.form_errors.name.message}}</small>
		</div>

		<div class="form-group mb-3">
			<input type="number" class="form-control" formControlName="phone" placeholder="Phone">
			<small *ngIf="__phonebook.form_errors.phone" class="text-danger">{{__phonebook.form_errors.phone.message}}</small>
		</div>

		<div class="form-group mb-3">
			<input type="email" class="form-control" formControlName="email" placeholder="Email">
		</div>

		<button mdbBtn color="info" block="true" size="sm" class="my-4 w-75 mx-auto" style="max-width: 400px;" type="submit" (click)="submitPhoneBootEntry()">Submit</button>
	</form>
</div>
