<ngx-ui-loader></ngx-ui-loader>
<div class="container py-3">
	<h1 class="h1 text-center">Phonebook</h1>
	<div class="form-inline md-form form-sm d-flex justify-content-center my-3">
		<mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
		<input class="form-control form-control-sm ml-2 w-75" style="max-width: 400px;" type="text" [(ngModel)]="search" placeholder="Search Contact(s)" aria-label="Search" mdbInput (ngModelChange)="searchContact($event)">
	</div>
	<a mdbBtn color="mdb-color" block="true" size="sm" class="mb-4 w-75" style="max-width: 400px;" type="submit" routerLink="/phonebook-entry">Add New Phonebook</a>

	<ng-container *ngIf="phonebooks.length && phonebooks.length > 0; else elseTemplate">
		<div class="row my-3 border-top" *ngFor="let phonebook of phonebooks">
			<div class="col-10 row">
				<a class="col-12" routerLink="/phonebook/{{phonebook.id}}" >
					<small>{{ phonebook.name || 'unknown' | titlecase }}</small>
				</a>
			</div>
			<div class="col-2 d-flex align-items-center" style="gap: .5em;">
				<a class="text-warning" routerLink="/phonebook-update/{{phonebook.id}}"><mdb-icon far icon="edit"></mdb-icon></a>
				<a class="text-danger" (click)="deleteContact(phonebook)"><mdb-icon far icon="trash-alt"></mdb-icon></a>
			</div>
		</div>
	</ng-container>
	<ng-template #elseTemplate>
		<h5 class="h5 text-center text-muted">No One In Your Contacts Book Yet</h5>
	</ng-template>
</div>